* {
    margin: 0;
    padding: 0;
}

h1 {
    padding: 15px;
}

input {
    margin-right: 15px;
}

header {
    display: flex;
    background-color: rgb(231, 58, 58);
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

.videos {
    display: flex;
    border-style: solid;
    border-color: rgb(7, 243, 7);

}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
    margin: 60px;
    
}

.video-card {
    width: 100%;
}

footer {
    display: flex;
    background-color: gray;
    height: 70px;
    justify-content: center;
    align-items: center;
}

.titulo-video {
    margin-left: 5%;
}

video {
    padding: 58px;
    margin-left: 23.5%;
    width: 700px;
    height: 378px;
    
}